
.vs/HAL9000/v16/.suo
.vs/HAL9000/v16/Browse.VC.db
.vs/HAL9000/v16/Browse.VC.db-shm
.vs/HAL9000/v16/Browse.VC.db-wal
.vs/HAL9000/v16/Browse.VC.opendb
.vs/HAL9000/v16/ipch/AutoPCH/edf60605bb2b7377/TEST_TIMER.ipch
.vs/HAL9000/v16/ipch/AutoPCH/ee71f57c5d2fdcba/EX_TIMER.ipch
.vs/HAL9000/v16/Solution.VC.db
.vs/HAL9000/v16/Solution.VC.db-shm
.vs/HAL9000/v16/Solution.VC.db-wal
